nav{
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
@media(min-width:1024px){ 
nav{
 display: flex;
 flex-direction: row;
}
}
img{
 height: 500px;
 width: 500px;
 border-radius: 50px;
}
video{
    height: auto;
    width: 50%;
}
button{
    border-radius: none;
    padding: 5px;
    margin: 20px;
}
button:hover{
    background-color:rgb(255, 0, 34);
}
.blue{
    background-color: blue;
    padding: 5px;
}

 .gridcontainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.gridcontainer div{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}
.gridcontainer{
   display: grid;
   width: 100%;
   grid-template-columns: 50% 50%;
}
@media(min-width:1024px){
.gridcontainer{
   display: grid;
   width: 100%;
   grid-template-columns: 25% 25% 25% 25%;
}
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table,
th,
td{
    border: 1px solid black;

}
 th{
    background-color:aliceblue;

}
td{
    padding: 10px;
    text-align: center;
}
